<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main page</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>

<header class="f-center-col">
  <h1 class="f-center-text">Welcome to our forex site!</h1>
  <p class="f-center-text">
    Today is <th:block th:text="${today}"></th:block>.
  </p>
</header>


<div class="f-hidden f-center-text" id="eur-to-bgn">
</div>

</body>
</html>